#home-glow {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	--home-glow-size: min(1324px, 100vw, calc(100dvh - var(--step-nav-height)));
	width: var(--home-glow-size);
	height: var(--home-glow-size);
	pointer-events: none;
	view-transition-name: none;
	transform: translate(-50%, -50%) scale(0);
	background-color: transparent;
	background-image: radial-gradient(
		circle farthest-side at 50% 50%,
		var(--color-brown-1) 0%,
		var(--color-brown-2-0) 100%
	);
}
